<!-- <mat-card class="example-card center-screen">
  <mat-card-header>
    <mat-card-title>BALAJI TILES</mat-card-title>
    <mat-card-subtitle>Ponda, Goa</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      This site is under construction.
    </p>
    <p>We will get live soon!</p>
    <p>
      Call us: +91 7030 638 226
    </p>
  </mat-card-content>
</mat-card> -->
<article class="container">
  <div class="p-1 mb-5">
    <h1>Balaji Tiles & Ceramics</h1>
    <h3>Ponda, Goa</h3>
  </div>
  <div class="row p-1 ml-1">
    This site is currently under construction.
  </div>
  <div class="row p-1 ml-1">
    Please call us at - &nbsp;
    <b>+91 7030 638 226</b>
  </div>
  <div class="row p-1 ml-1 mt-5">
    &mdash; The Team
  </div>
</article>
